<!DOCTYPE html>
<html>
<head>
  <title>Rock x Paper x Scissors</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Rock x Paper x Scissors</h1>
  <nav> 
    <ul>
      <li><a href='/'>Rules of the Game</a></li>
      <li><a href='/play/:left/:right'>Play</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>